body{
    background-color: #3E7D91;
}
.header{
    background-color: #3E7D91;
    color:#F6DD7C;
    font-size:50px;
}
table{
    background-color: #3E7D91;
    color:#F6DD7C;
    border:2px solid #F6DD7C;
    
}
.field-container{
    height:400px;
    width:400px;
    margin-top:50px;
    background-color: #3E7D91;
    color:#F6DD7C;

}
.field{
    color:#F6DD7C;
    background-color: #3E7D91;
    border:3px solid #F6DD7C;
    font-size:35px;
}
.focused{
    
    outline: none;
    cursor:pointer;
}

